:root {
  --primario: #c63c6a;
  --secundario: #2f326b;
  --secundario-claro: #94aedb;
  --terciario: #c74e31;
  --terciario-claro: #e3adad;
}
@font-face {
  font-family: "emegas";
  src: url("/fonts/kallaikosrevve-webfont.woff2") format("woff2"),
    url("/fonts/kallaikosrevve-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: rgba(234, 174, 052, 0.39);
}
header {
  background-color: var(--primario);
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
}
header img {
  max-width: 100%;
}
#cabecera {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: column;
}
.menu li {
  display: inline-block;
}
.menu li a {
  color: white;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 0.5s;
}
.menu li a:hover {
  color: #2f326b;
}
h2 {
  color: #666666;
}
li {
  color: #666666;
}
h1 {
  color: white;
  margin: 0;
}
header p {
  color: white;
  padding-left: 15px;
  text-align: end;
}
h2 {
  text-align: center;
}
section p {
  text-align: center;
  color: #666666;
}
section img {
  width: 300px;
}
section {
  text-align: center;
}
.text-right {
  text-align: right;
}
ul {
  list-style: none;
}
.black {
  color: black;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  text-decoration: none;
  border: 1px solid lightgray;
  padding: 10px 15px;
  display: inline-block;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
li.action {
  display: inline-block;
}
#caracteristicas {
  margin-top: 50px;
}
.megafono {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #c63c6a;
}
.megafono-texto div {
  margin-top: 30px;
  text-align: right;
}
.imagen img {
  max-width: 200px;
}
.texto p,
.texto h2 {
  color: white;
}
.texto h2 {
  font-size: 35px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  #cabecera {
    justify-content: space-between;
    align-items: center;
  }
  .megafono {
    display: flex;
  }
  .megafono .imagen {
    flex: 1;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .megafono .imagen::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -25px;
    background-color: #94aedb;
  }
  .megafono .texto {
    flex: 1;
    padding: 50px 25px;
    position: relative;
  }
  .megafono .texto::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: -25px;
    border-radius: 50%;
    border: 2px solid #2f326b;
  }
  .texto p {
    padding-bottom: 30px;
  }
}
.mulleres {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  min-height: 350px;
  flex-direction: column;
}
.mulleres .col {
  flex: 1;
  padding: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.mulleres .col.boxes {
  min-height: 380px ;
}
.button.button--azul {
  background-color: #2f326b;
  margin-top: 70px;
}
.button.button--azul:hover {
  color: #c63c6a;
}
.box p,
.box h2 {
  color: white;
}
.box h2 {
  text-transform: capitalize;
}
.box h2:hover {
  color: #c63c6a;
}
.col .box-1 {
  background-color: #2f326b;
  border-radius: 10px;
  max-width: 250px;
  padding: 35px 45px;
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 2;
  transition: all 0.5s;
}
.col .box-1:hover {
  z-index: 5;
  -webkit-box-shadow: -8px -6px 18px 8px #000000;
  box-shadow: -8px -6px 18px 8px #000000;
}
.col .box-2 {
  background-color: #e3adad;
  border-radius: 15px;
  max-width: 200px;
  padding: 25px 15px;
  position: absolute;
  right: 50px;
  top: 150px;
  z-index: 4;
  transition: all 0.5s;
}
.col .box-2:hover {
  -webkit-box-shadow: -8px -6px 18px 8px #000000;
  box-shadow: -8px -6px 18px 8px #000000;
  z-index: 999;
}
.col .box-3 {
  background-color: orange;
  border-radius: 15px;
  width: 140px;
  padding: 20px 30px;
  position: absolute;
  z-index: 6;
  transition: all 0.5s;
  left: 159px;
  top: 272px;
}
.col .box-3:hover {
  -webkit-box-shadow: -8px -6px 18px 8px #000000;
  box-shadow: -8px -6px 18px 8px #000000;
}
.footer-rrss ul {
  display: flex;
  padding: 0;
}
.footer-rrss ul a {
  color: white;
}
.button.button-primary {
  background-color: #2f326b;
  border-color: #c63c6a;
  text-transform: capitalize;
  transition: all 0.5s;
}
.button.button-primary:hover {
  color: #c63c6a;
}
.button.button-secundary {
  background-color: #c63c6a;
  border-color: #2f326b;
  text-transform: capitalize;
}
.button.button-secundary:hover {
  color: #2f326b;
}
.rrss li {
  display: inline-block;
}
.rrss li a {
  color: white;
  padding: 15px;
  font-size: 25px;
}
.legal {
  display: flex;
  justify-content: center;
}
.legal li {
  display: inline-block;
  padding: 5px;
}
.legal li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 350;
}
.legal li a:hover {
  color: #c63c6a;
}
footer {
  background-color: #94aedb;
  border-radius: 20px 20px 0 0;
  padding-bottom: 15px;
}
footer h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 20px;
}
.footer-links {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.footer-bottons {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.contact-child a {
  color: #c63c6a;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
}
.contact-child a:hover {
  color: #2f326b;
}
.contact-child {
  text-align: center;
  color: white;
  font-size: 20px;
}
.footer-rrss {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-rrss a:hover {
  color: #c63c6a;
}
@media (min-width: 1024px) {
  #cabecera {
    flex-direction: row;
  }
  #caracteristicas {
    display: flex;
  }
  .col .box-3 {
    left: 250px;
    top: 200px;
  }
  .mulleres {
    flex-direction: row;
  }
  #caracteristicas section {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }
  .contact-child {
    display: inline-block;
  }
  .contacto {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footer-rrss {
    position: absolute;
    right: 0;
    top: -10px;
  }
}
